/* ./src/index.css */

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap");

:root {
  --background: #edf2f4;
  --secondary-background: #8d99ae;
  --headline: #2b2d42;
  --subheadline: #777777;
  --text: #999999;
  --highlight: #ef233c;
  --button: #d90429;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html,
body {
  font-family: -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: none;
  display: block;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: var(--secondary-background);
  height: 100vh;
}
aside {
  background-color: var(--background);
}
h1{
  color: var(--headline);
  font-family: 'fjalla one', sans;
}
label{
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-weight: bold;
  line-height: 1rem;
}
form{
  padding: 40px 50px 20px 50px;
}
input{
  border: none;
	background-color: var(--headline);
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1.2px;
	transition: 0.3s ease background, color;
	color: white;
	border-radius: 0;
  padding: .8rem;
}
button{
  background-color: var(--highlight);
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1.2px;
	padding: 1rem;
	transition: 0.4s ease background;
	width: 100%;
}
input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px var(--highlight);
  background-color: var(--headline);
}

.name{
  font-family: 'fjalla one', sans;
  color: var(--headline)
}
.id{
  font-family: 'Roboto', sans-serif;
  color: var(--text)
}
.id:hover{
  color: var(--background);
}
.customer{
  z-index: 2;
}
.customer:hover{
  color: var(--background)
}
.customer:hover::before{
  content: '';
  display: inline-block;
  background-color: var(--secondary-background);
  width: 25%;
  height: 5rem;
  /* border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem; */
  position: fixed;
  border-radius: 100% 0% 87% 13% / 27% 100% 0% 73%  ;
  left: 1rem;
  z-index: -1;
}
/* styling for information blocks */

.block1{
  background-color: var(--headline);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  perspective: 1000px;
  height: 40vh;
}
.block1inner{
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.front{
  background-color: var(--headline);
  color: var(--text);
}
.back{
  background-color: var(--background);
  color: var(--headline);
  transform: rotateY(180deg);
}
.rotate{
  transform: rotateY(180deg);
}
.highlight{
  color: var(--highlight);
}
.highlightbg{
  background-color: var(--highlight);
}
.text{
  color: var(--text);
}
.textbg{
  background-color: var(--text);
}
.textalt{
  color: var(--headline)
}
.textaltbg{
  background-color: var(--text);
  height: 8rem;
  color: var(--headline);
  font-family: 'Roboto' sans-serif;
}




